<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/9031ce43-5eba-4a12-aa7b-98a7516966e1/resourcegroups/Group49/providers/Microsoft.Web/sites/2021GRP49</ResourceId>
    <ResourceGroup>Group49</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://2021grp49.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>2021grp49.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>2021GRP49</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$2021GRP49</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=ngunidemodbserver.database.windows.net;Initial Catalog=NguniDemo_db;Persist Security Info=True;User ID=Zamani;Password=Amajongo100!" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="NguniDemo.Models.ApplicationDbContext, NguniDemo" MigrationConfiguration="NguniDemo.Migrations.Configuration, NguniDemo" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=ngunidemodbserver.database.windows.net;Initial Catalog=NguniDemo_db;Persist Security Info=True;User ID=Zamani;Password=Amajongo100!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>